
.nav-link {
  color: white !important; 
  text-decoration: none !important; 
  transition: color 0.3s;
}

.nav-link.active {
  color:  white !important;
  border-bottom: 2px solid; 
  border-image: linear-gradient(to right,  #ff8a00, #da1b60); 
  border-image-slice: 1;
}
.nav-link.active:hover {
  color: #ff8a00 !important; 
}
.navbar-toggler {
  border-color: purple !important; 
  color: white;
}

.navbar-toggler-icon {
  background-color: purple; 
}


