/* @import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container h2{
    font-family: "Jersey 25 Charted", sans-serif;

} */
h1 span{
  font-family: "Noto Serif Display", serif;

}
.boxtestimonial {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 20px;
  }
  
  .boxtestimonial p span {
    font-size: 30px;
  }
  .imge img{
    border: 1px solid gray;
    margin-bottom: 20px;
    height: 23vh;
    width: 40%;
    border-radius: 50%;
  }
  p span{
    color: black;
  }