@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}
.carousel-section .carousel {
  width: 100%;
}
.text-section p{
  font-size: 22px;
}
.carousel-section img {
  border-radius: 10px;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.carousel-section,
.text-section {
  flex: 1;
  padding: 20px;
}

.text-section {
  background-color: white;
  box-shadow: inset 2px 2px 3px 3px grey;
  border-radius: 10px;
  height: 600px;
}

.carousel-section {
  position: relative;
}

.carousel-section .carousel-control-prev,
.carousel-section .carousel-control-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: black !important; 
  font-size: 7px;
  cursor: pointer;
}

.carousel-section .carousel-control-prev {
  left: 10px;
}

.carousel-section .carousel-control-next {
  right: 10px;
}
