.pic img{
    width: 100%;
    height: 90vh;
}
.container-testimonial{
    width: 100%;
    padding: 0 80px;
}
.carousel-caption p {
    color: #ffffff;
    /* font-size: 18px;  */
    text-align: center; 
  }
  