
/* For desktop view */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Add some space between rows */
  box-sizing: border-box;
}

.product-item img {
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 992px) {
    .main {
      display: flex;
      flex-direction: row;
    }
    .left {
      flex: 1;
      padding-right: 20px;
    }
    .right img {
        width: 100%;
        height: 75vh;
      border-radius: 100px 5px;
    }
  }
  
  /* For mobile view */
  @media only screen and (max-width: 991px) {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .left, .right {
      width: 100%;
      text-align: center;
    }
    .right img {
      width: 100%;
      height: 50vh;
      border-radius: 100px 5px;
    }
  }