@media (max-width: 768px) {
    .left_data {
      text-align: left;
      width: 80%;
    }
    .buton{
        width: 100%;
    }
  }
  .toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
  }
  