
/* Wrapper for the gallery */
.galleryWrapper {
  padding: 5% 5%;
}

/* Container for the filter items */
.filterItem {
  margin-top: -40px;
  margin-bottom: 30px;
}

.filterItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 25px;
}

.filterItem ul li {
  margin: 0;
}

/* .filterItem ul button {
  background: purple;
  color: #fff;
  padding: 8px 46px;
  text-transform: uppercase;
  border: none;
  font-size: 17px;
  border-radius: 50px;
  transition: background 0.3s ease;
}

.filterItem ul button:hover {
  background: rgb(182, 84, 182);
  cursor: pointer;
} */
/* Container for the filter items */
.filterItem {
  margin-top: -40px;
  margin-bottom: 30px;
}

/* .filterItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 25px;
} */

.filterItem ul li {
  margin: 0;
}

.filterItem ul button {
  background: #A2C579;
  /* background: #016A70; */
  color: #fff;
  padding: 8px 46px;
  text-transform: uppercase;
  border: none;
  font-size: 17px;
  border-radius: 50px;
  transition: background 0.3s ease;
}

.filterItem ul button:hover {
  background: #016A70;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .filterItem ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 25px;
    margin-top: 50px;
  }

  .filterItem ul button {
    margin-bottom: 5px;
  }
}
/* 
@media only screen and (min-width: 576px) {
  .filterItem ul {
    justify-content: flex-start;
  }
} */

/* Container for the gallery items */
.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.galleryItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 1.5s ease 0s;
}

.galleryItem img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 15px;
  transition: all 1.5s ease 0s;
}

.galleryItem:hover img {
  transform: scale(1.3);
}

.galleryItem:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1.5s ease 0s;
}

.galleryItem:hover:before {
  /* background: #c0ceb2; */
  background-color: rgba(236, 230, 230, 0.4);
  opacity: 50%;
}

.galleryItem:after {
  content: "";
  width: 0;
  height: 200%;
  background: rgba(0, 0, 0, 0.1);
  margin: -5px 0 0 -5px;
  position: absolute;
  top: -76%;
  left: 0;
  transform: rotate(30deg);
  transform-origin: 0 0 0;
  z-index: 2;
  transition: all 0.4s ease-out 0s;
}

.galleryItem:hover:after {
  width: 70%;
  left: 10px;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.modal-content img {
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin: 5px 0;
  /* color: #016A70; */
}
/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 9px;
  font-size: 40px;
  cursor: pointer;
  color: black;
}

/* Additional hover styles */
h1 {
  padding: 0 0 30px;
}

h2 {
  font-size: 22px;
  margin-top: 25px;
}

.box {
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 40vh;
}

.box:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease 0s;
}

.box:hover:before {
  background: rgba(165, 132, 182, 0.9);
  opacity: 70%;
}

.box:after {
  content: "";
  width: 0;
  height: 200%;
  background: rgba(0, 0, 0, 0.1);
  margin: -5px 0 0 -5px;
  position: absolute;
  top: -76%;
  left: 0;
  transform: rotate(30deg);
  transform-origin: 0 0 0;
  z-index: 2;
  transition: all 0.4s ease-out 0s;
}

.box:hover:after {
  width: 70%;
  left: 10px;
}

.box img {
  width: 100%;
  height: auto;
  transition: all 1.5s ease 0s;
}

.box:hover img {
  transform: scale(1.2);
}

.box .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
}

.box-profile {
  margin-right: -20px;
  margin-top: 70px;
  text-decoration: underline;
}

.box .icon {
  padding: 0;
  margin: 0 0 0 25px;
  list-style: none;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.6s ease 0s;
}

.box:hover .icon {
  top: -40%;
  left: -6%;
  background: rgb(182, 84, 182);
  height: 10vh;
  width: 100%;
}

.box .icon li {
  display: inline-block;
}

.box .icon li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
  font-size: 20px;
  color: #fff;
  margin: 30px 5px 0 0;
  transition: all 0.6s ease 0s;
}

.box .box-profile {
  padding-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  position: absolute;
  bottom: -50%;
  right: 25px;
  transition: all 0.6s ease 0s;
}

.box:hover .box-profile {
  top: 20%;
  right: 40%;
  color: white;
  font-size: 20px;
}

.box .title {
  font-size: 22px;
  color: #fff !important;
  margin: 0;
}

.box .post {
  font-size: 14px;
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .box {
    margin-bottom: 20px;
  }
}
/* Container for the gallery items */
.galleryContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media only screen and (min-width: 576px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

